/*Universal Settings*/
:root {

    /*Colour Lite Mode Scheme*/
    --clr-background: #fff3df;
    --clr-action: #c8374d;
    --clr-action-hover: #eb7d72;
    --clr-white: #fafafa;
    --clr-darkblue: #0A4266;
    --clr-lightblue: #2F8497;
    --clr-black: #141414;
    
}
* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}
body {
    background-color: var(--clr-background);
    color: var(--clr-black);
    /* min-height: 100vh; */
}
h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin: 0;
}
h3 {
    font-size: 1rem;
    font-weight: 400;
}
a {
    color: var(--clr-black);
    text-decoration: none;
}

/*Header settings*/
.top-bar {
    /* background-color: var(--clr-darkblue); */
}
header {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1250px;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a {
    text-decoration: none;
    font-weight: bold;
}
#brand {
    display: flex;
    align-items: center;
}
#brand a {
    color: var(--clr-black);
}
ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
}
ul a {
    color: var(--clr-black);
}
ul li {
    margin-left: 20px;
}
ul li:hover {
    /* transform: scale(1.2);
    transition: 0.2s; */
}

/*Footer Settings*/
.copyright {
    text-align: center;
    display: block;
    margin: 0 auto; 
}

/*Generic Templates*/
.container-basic {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 10px;
}
.container-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: 20px;
}
.container-intro p {
    margin: 0px;
}
.container-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.left-column{
    text-align: left;
}
.right-column {
    display: flex;
    justify-content: end;
}
.btn-basic {
    color: var(--clr-white);
    background: var(--clr-action);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}
.btn-basic:hover, .button-template:active{
    background: var(--clr-action-hover);
    /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); */
}
#line-divider {
    border-bottom: 1px solid #d1bfa1;
    max-width: 1210px;
    margin: 0 auto;
}
.grid-template {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.container-card {
    position: relative;
    width: fit-content;
    overflow: hidden;
}
.container-card img {
    display: block;
    width: 100%;
}
.overlay-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    color: var(--clr-background);


}
.overlay-card h2{
    position: absolute;
    font-size: 1.3rem;
    text-transform: uppercase;
    cursor: pointer;
    pointer-events: none
}
#title-intro {
    text-align: center;
}


/*Home Page Specifics*/
#home-page-container {
    /* padding-top: 150px; */
    margin-top: 150px;
}
#home-img {
    max-width: 70%;
    object-fit: cover;
}
#home-page-h1 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 4rem;
    font-weight: 900;
}

/*About Me*/
.img-about-me {
    height: 80vh;
}

/*Video*/
.roles-group {
    width: 100%;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    display: flex;
    align-items: end;
    /* justify-content: space-evenly; */
    justify-content: start;
    text-transform: uppercase;
    color: var(--clr-background);
    cursor: pointer;
    pointer-events: none
}
.roles-group p {
    font-size: 0.8rem;
    background: var(--clr-lightblue);
    color: var(--clr-white);
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}
.overlay-card:hover {
    opacity: 1;
}
.btn-card {
    outline: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    opacity: 75%;
    background-color: var(--clr-darkblue);
    /* background: linear-gradient(blue, pink); */

}
.btn-card:hover {
    cursor: pointer;
}
.modal {
    padding: 20px;
    width: 1000px;
    margin: 0 auto; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust vertically to center */
    border-style: none;
    border-radius: 10px;

    background-color: var(--clr-background);
    color: var(--clr-black);
}
.modal p {
    margin:0;
    padding: 0;

}
.modal h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 900;
}
.modal::backdrop {
    background: rgb(0 0 0 / .4);
}
#closeModalButton {
    border-style: none;
    width: 100%;
    text-transform: uppercase;
}
.video-preview {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
}
.video-preview iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Photo */
#photo-select-card {
    max-height: 200px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
#photo-select-card h2 {
    font-size: 2rem;
}
.photo-card-description {
    width: 100%;
    height: 100%;
    /* padding-left: 20px;
    padding-right: 20px; */
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: var(--clr-background);
    pointer-events: none;
}
.photo-card-description p {
    font-size: 0.8rem;
}
.genre-tag {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: end;
    text-transform: uppercase;
    color: var(--clr-background);
    cursor: pointer;
    pointer-events: none
}

/*Art*/
#grid-comics {
    grid-template-columns: repeat(5, 1fr);
}
#grid-comics h2 {
    font-size: .8rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
#grid-comics p {
    font-size: .7rem;
    margin: 0;
}
#comic-card p{
    position: absolute;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--clr-background);
    cursor: pointer;
    pointer-events: none
}
#comic-card button{
    outline: none;
    background-color: var(--clr-lightblue);
    width: 100%;
    height: 100%;
    opacity: 25%;
    border: none;
    padding: 0;
}

/*Mobile Users*/
/*This creates the hamburger icon + mobile nav menu... credit to JavaScript Academy*/
#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}
#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;

    background-color: var(--clr-black);
}
.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
    opacity: 0;
}
.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}
.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobile-menu {
    display: none;
    position: fixed;
    left: 0;
    height: calc(100vh - 70px);
    width: 100%;
    background-color: var(--clr-background);
    z-index: 1000;

    padding-left: 0;
}
.mobile-menu li {
    margin-bottom: 10px;
    text-align: center;
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube {
    background-color: #000;
    position: relative;
    display: block;
    contain: content;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
}
lite-youtube::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    background-position: top;
    background-repeat: repeat-x;
    height: 60px;
    padding-bottom: 50px;
    width: 100%;
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
lite-youtube::after {
    content: "";
    display: block;
    padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}
lite-youtube > .lty-playbtn {
    display: block;
    width: 68px;
    height: 48px;
    position: absolute;
    cursor: pointer;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: transparent;
    /* YT's actual play button svg */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
    border: none;
}
lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
    filter: none;
}
lite-youtube.lyt-activated {
    cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
    opacity: 0;
    pointer-events: none;
}
.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media only screen and (max-width: 750px) {
    
    /* Universal Mobile Header*/
    header nav {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    .grid-template {
        grid-template-columns: repeat(1, 1fr);
    }
    

    /* Home */
    #home-page-container {
        /* padding-top: 15px; */
        margin-top: 15px;

    }
    #home-page-button {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #home-page-h1 {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 3rem;
        font-weight: 900;
    }
    #home-img {
        max-width: 100%;
        object-fit: cover;
    }
    .right-column {
        display: flex;
        justify-content: center;
    }

    /* Video */
    .roles-group p {
        font-size: .7rem;
    }
    .container-column {
        grid-template-columns: repeat(1, 1fr);
    }
    .content-container h1{
        font-size: 7vw;
    }
    .content-container p {
        font-size: 4vw;
        margin-left: 10px;
        margin-right: 10px;
    }
    .overlay-card h2{
        font-size: 1rem;
    }

    /* Art */
    #grid-comics {
        grid-template-columns: repeat(2, 1fr);
    }
    #comic-card p{
        font-size: .8rem;
    }
}

/* Dark Mode */
/* @media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: #7AA8EA;
        --clr-lite: #1a1a1a;
        --clr-dark: #eaf5fd;
        --clr-action-hover: #91bbf5;
    }
} */