/* Universal CSS Styles*/
*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: white;
}

a {
    color: #f3e670;
  }

body {
    background-image: url("images/bg_128x.png");
    background-size: auto;
}

h1
{
    font-size: 16px;
    font-weight: bold;
}

h2
{
    color: #50a5f0;
    font-size: 20px;
    margin-top: 0%;
    margin-bottom: 5px;
}

h3
{
    margin-bottom: 3px;
    font-size: 20px;
    text-align: center;
}

/* A Grid container for more complex positions */
.layout-container
{
    width: 95%;
    margin: auto;
    /* border: 5px solid white; */

    display: grid;
    grid-template-rows: 100px,100px,100px;
    grid-template-columns: 100px,100px;
    justify-content: center;
    align-items: start;
}

.layout-container-flex
{
    /* Flex control */
    flex-direction: row;
    display: flex;
    justify-content: center;
    /* align-items: start; */
    flex-wrap: wrap;
    /* gap: 1em; */
}

.banner
{
    color: white;
    text-align: center;
}

/* Generic template of a "box" */
.box
{
    background-color: #00000075;
    color: white;
    border: 1px solid #464646b9;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 2px;
    max-width: 785px;

}

/* Modified Box template for projects */
#box-project-template
{
    max-width: 450px;
    /* width: fit-content; */
}

.video
{
    /* flex: 1 1 auto;
    display: flex;  */
    /* new */
}

/* Grid Item Layout */
#box-links
{
    display: flex;
    flex-direction: column;
}

.banner
{
    grid-row: 1 / 1;
    grid-column: 1/3;
    justify-self: center;
}

.social-bar
{
    text-align: center;
}

#box-intro
{
    grid-row: 1/1;
    grid-column: 1/2;
}

.copyright
{
    text-align: center;
}

/* About.html */
.img-portrait
{
    width: 25%;
    border: 2px solid #2c74b3;
}

/*Mobile Support*/